html {
  box-sizing: border-box;

  font-family: 'Uncial Antiqua', cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	width: 100%;
}

header {
	background-color: #441819;
	padding-top: 2em;
	padding-bottom: 3em;
	margin-bottom: 0;
}

h1, h2 {
	color: #fff;
	text-align: center;
}

h1 {
	font-size: 3.5em;
	margin-bottom: 0;
}

h2 {
	font-family: 'Helvetica', sans-serif;
	font-weight: lighter;
	font-size: 2.5em;
	margin-top: 0;
}

nav {
	font-family: 'Helvetica', sans-serif;
	font-weight: lighter;
	font-size: 1.4rem;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	overflow: hidden;
}

nav li {
	float: left;
	width: 33.3%;
	padding: 0.4em;
}

nav a {
	display: block;
	padding: 0.8em 0.5em 0.8em;
	background-color: #595f45;
	border-radius: 25px;
	color: #fff;
	text-decoration: none;
}
