html {
  box-sizing: border-box;

  font-family: 'Uncial Antiqua', cursive;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	margin: 0;
}

img {display: block;
width: 100%;
}

h1 {
	font-family: 'Helvetica', sans-serif;
}
